html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #5a5872;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
	text-decoration: none;
	outline: none;
}

i,
span,
a {
	display: inline-block;
	text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

ul,
ol {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

p {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #5a5872;
	margin: 0px;
}

/* Header Starts Here */

.logo {
	width: 129px;
	position: relative;
	left: 1rem;
}
.hde-mob {
	display: none;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: #e3e2ec;
	height: 7rem;
	z-index: 100;
}
nav ul li a {
	text-decoration: none;
	font-weight: 600;
	color: #000;
}

.menu {
	width: 2rem;
  margin: 2rem;
}
.exit-btn {
	position: relative;
	margin-left: 7rem;
}
.exit-btn img {
	width: 25px;
	cursor: pointer;
}
.exit-btn img:hover {
	transform: scale(.8);
	transition: .3s;
}

.title {
	text-align: center;
	text-transform: capitalize;
	font-weight: lighter;
}
.title .sub-title {
	text-align: center;
	text-transform: capitalize;
	font-weight: bolder;
	font-style: italic;
	font-size: 1.2rem;
}

/* FOOTER SECTION STARTS */

footer {
	display: grid;
	align-items: center;
	justify-items: center;
	background-color: #ffffff;
	grid-auto-rows: minmax(70px, auto);
	border-top: #c9c8ce solid .1rem;
	margin: 2rem 10rem;
}

.social-buttons_icons {
	display: flex;
	column-gap: 1rem;
}

.social-buttons_icons li a:hover {
	color: #ffffff;
	background-color: rgb(46, 44, 44);

	/* background-color: rgb(216, 208, 208); */
}
.social-buttons_icons li a {
	width: 50px !important;
	height: 50px !important;
	min-width: 50px !important;
	min-height: 50px !important;
	box-shadow: 0 3px 6px #d6d6d6;
	background-color: #fff;
	padding: 13px 13px;
	border-radius: 50%;
	cursor: pointer;
	color: #000;
	font-size: 1.3rem;
}
.social-buttons_icons li {
	list-style: none;
	text-align: center;
}
.social-buttons_icons {
	display: inline-flex;
	padding-left: 0;
}
.footer_copy {
	font-weight: bolder;
	letter-spacing: .08rem;
}

/* FOOTER SECTION ENDS */

@media only screen and (max-width: 1024px) {
	/* Nav menu on screen sizes lower than 1024 */
	nav ul {
		position: relative;
		width: 10rem;
		text-align: center;
		margin-top: -2.5rem;
		background: #000;
		border-top-left-radius: .3rem;
		border-bottom-left-radius: .3rem;
		opacity: 0.9;
    padding-bottom: 1rem;
    z-index: 100;
	}
	nav ul li {
		margin: 1.5rem;
	}
	nav ul li a {
		text-decoration: none;
		font-weight: 600;
		color: rgb(247, 245, 245);
	}
}
@media only screen and (max-width: 800px) {
	footer {
		margin: 2rem 5rem;
	}
	.footer_copy {
		text-align: center;
	}
}
@media only screen and (max-width: 400px) {
	footer {
		margin: 2rem 2rem;
	}
	.footer_copy {
		text-align: center;
	}
}

@media only screen and (min-width: 1024px) {
	nav ul li {
		justify-content: space-around;
		padding: 2.5em 1em;
	}
	nav ul li a:hover {
		transform: scale(1.2);
		-webkit-transition: all 0.3s ease-out 0s;
		-moz-transition: all 0.3s ease-out 0s;
		-ms-transition: all 0.3s ease-out 0s;
		-o-transition: all 0.3s ease-out 0s;
		transition: all 0.3s ease-out 0s;
	}
	.shw-dsk {
		display: flex;
	}
	.hde-dsk {
		display: none;
	}
}
