/* RECIPES INFO SECTION STARTS */
.main_content{
  margin: 4rem 10%;
}

.recipe-details{
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-auto-rows:minmax(200px, auto);
  grid-gap:4em;
}

.sub_info{
  margin: .7rem .4rem;
}
.sub_info p{
  line-height: 2rem;
  font-weight: 500;
  text-transform: capitalize;
  font-style: italic;
  font-size: 1rem;
}
.recipe_img img{
  border-radius: .3rem;
  /* width: 520px; */
}
.recipe_info a{
  color: #070b20;
  box-shadow: 0 3px 6px #d6d6d6;
  border-radius: .3rem;
  padding: .5rem .7rem;
  font-weight: bolder;
}
.recipe_info a:hover{
  box-shadow: 0 3px 6px #807d7d;
  color: #252a49;
}
.recipe_action{
display: flex;
column-gap: 2rem;
}

.recipe_description, .recipe_ingredients, .recipe_instructions{
  margin: 1rem auto;
}
.recipe_ingredients ul, .recipe_instructions  ul{
  margin: .5rem 1rem;
  list-style-type: decimal;
  line-height: 1.7rem;
}
.recipe_note p{
  font-style: italic;
  font-weight: 600;
}
.tag_me{
  margin: 2rem auto;
  text-align: center;
}
.tag_me span{
  font-size: 2rem;
}
/* RECIPES INFO SECTION ENDS */


@media only screen and (max-width: 600px){
  .recipe-details{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows:minmax(5px, auto);
    grid-gap:2em;
  }
}
