/* Main section with the background */
.main {
  display:grid;
  grid-auto-rows:minmax(200px, auto);
  background-attachment: fixed;
  background-image: url(/img/cs.svg);
  background-color: #e9e8f3;
  /* background-color: rgb(206, 132, 190); */
  
}

.main header{
  background-color: transparent;
}

.hero-section{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-auto-rows:minmax(200px, auto);
  grid-gap:1em;
  justify-content: space-around;
  margin: auto 4rem 4rem 4rem;
}

.hero-content-img{
  width: 60%;
}

.hero-content-text{
  align-self: center;
  text-align: center;
  color: black;
}
.hero-content-text > h1{
  font-weight: 700;
}
.hero-content-text > 
span{
  font-weight: 400;
}

/* About section */
section#intro{
  display:grid;
  grid-template-columns: 1fr;
  grid-auto-rows:minmax(200px, auto);
  grid-gap:1em;
  /* justify-content: center; */
  justify-items: center;
  margin: 2em auto;
  /* justify-items:stretch; */
  /* align-items:stretch; */
}
.intro-video video{
  margin: 1rem auto;
}
.left-intro h2{
  margin-bottom: .7em;
}

/* Carousel section starts here */
section#carousel{
  background-color: #e9e8f3;
  padding: 2em;
}
.nested{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  grid-auto-rows: 70px;
  grid-gap:2em;
}

/* Testimonial section starts */

section#testimonial{
  padding: 2rem;
}
.testimonial-items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin: 1.5rem auto;

}
.item{
  display: grid;
  justify-content: center;
  justify-items: center;
}
.item blockquote{
  width: 70%;
  font-style: oblique;
  font-weight: 500;
  margin: .8rem auto;
}
.item span{
  font-weight: bold;
}
.item-img img{
  height: 10em;
  width: 10em;
  border-radius: 50%;
  border: solid rgb(202, 197, 197) 1px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Contact section starts */
section#contact{
  display: grid;
   background-color: #e9e8f3;
}

.contact-container{
  margin: 2rem;
}
section .contact-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-column-gap: 4em;
  grid-row-gap: 3em;
  margin: 2rem 7rem;
  align-items: center;

}
.submit_btn{
  text-align: center;
  margin: 2em auto;
}
.submit_btn button{
  padding: .5em .9em;
  font-size: 1.2em;
  border-radius: .2em;
  border-style: none;
  background-color: #201f24;
  color: #ffff;
}
.submit_btn button:hover{
  cursor: pointer;
  background-color: #2d2c30;
  border-style: none;
  transition: .2s;
  color: #f6f5f7;
}
.single_form input {
  width: 100%;
  height: 55px;
  border: 1px solid rgba(14, 13, 13, 0.6);
  border-radius: .3em;
  padding: 0 25px;
  font-size: 16px;
  color: rgb(43, 35, 35);
  background: none;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.single_form input:focus {
  box-shadow: 0 6px 7px #9c9a9a;
}

/* Recent Post */
section.recent_posts{
  padding: 3em 0;
}
.recent_posts_container  {
  /* height: 100%; */
  margin: 2rem 4rem;
  display: flex;
  grid-gap: 4rem;
  
}
div.card:hover{
  cursor: pointer;
  box-shadow: 0px 3px 27px 0px rgba(7, 6, 6, 0.226); 
}
.recent_posts_container .card {
    border-radius: .3em;
    background-color: #fff;
  }
  .card-body{
    padding: 1rem;
  }
  .card-body span img{
    width: 1rem;
  }
  .card-img-top{
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    width: 24em;
    height: 14em;
  }
  p.card-title a {
    font-size: 1.4em;
    color: #4e0b29;
    font-weight: bolder;
    text-decoration: none;
  }

  .more {
    margin: .5rem auto;
    box-shadow: 0 3px 6px #b6b1b1;
    padding: .4rem .7rem;
    border-radius: .2rem;
    text-decoration:none;
    font-weight:600;
    color:#0b1444;
  }
  .more:hover{
    text-decoration: none;
    color:#3c488f;
  }


