.service {
	background-color: rgb(215, 230, 243);
}
.service-1 {
	position: relative;
	margin: 20% auto 20% auto;
}
.hero {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
}
.serv span.border {
	content: "";
	display: block;
	width: 20%;
	/* padding-top: 20px; */
	border-bottom: 4px double #00cc80;
}
.service-2 {
	margin: 3% auto 0% auto;
}
.service-3 {
	margin: 0 auto;
	background-color: rgb(215, 230, 243);
}
.something {
	margin: 100px auto;
	background: tomato;
	width: 100px;
	height: 100px;
}

.hover {
	background: blue;
}
.icn {
	padding: 15px;
	/* border: solid 1px rgba(78, 73, 73, 0.397); */
	position: relative;
	border-radius: 2px;
	margin: 0 2%;
	/* margin-bottom: 5%; */
}
.icn:hover {
	/* border: solid 1px rgba(64, 61, 228, 0.397); */
	box-shadow: 0px 5px 20px 0px #adabab;
	background-color: rgba(197, 220, 221, 0.171);
}
.image {
	width: 55%;
}
@media only screen and (max-width: 650px) {
	.image {
		width: 35%;
	}
}
@media only screen and (min-width: 650px) {
	.service-2 {
		display: flex;
	}
	.service-3 {
		display: flex;
	}
}
